body {
    margin: 0;
    padding: 0;
}
#navbar-petjoy {
    background-color: #5AA469 !important;
    color: aliceblue !important;
}
.c-white {
    color: #fff !important;
}
.b-white {
    border: 1px solid white !important;
}
.carousel, .carousel-inner>.carousel-item>img {
    height: 250px;
}
.card-init{
    border: none;
    margin: 20px;
    color: #595959;
}
.ml-green{
    border-left: 5px solid #5AA469;
    padding-left: 10px;
}