body {
    margin: 0;
    padding: 0;
}
#navbar-petjoy {
    background-color: #5AA469 !important;
    color: aliceblue !important;
}
.c-white {
    color: #fff !important;
}
.b-white {
    border: 1px solid white !important;
}
.carousel, .carousel-inner>.carousel-item>img {
    height: 250px;
}
.card-init{
    border: none;
    margin: 20px;
    color: #595959;
}
.ml-green{
    border-left: 5px solid #5AA469;
    padding-left: 10px;
}
.modal-product{
    height: 30px;
    width: 30px;
    vertical-align: middle;
    padding: 0;
    position: absolute;
    top: 15px;
    right: 15px;
}
.modal-product i{
    font-size: 14px;
}

.bg-green{
    background-color: #B3EEA5;
}

/* page products */
.mundo{
    background: url('../img/bg-gatuno.png');
    height: 250px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.mundo:nth-of-type(2){
    background: url('../img/bg-perruno.png');
}
.mundo div{
    height: 200%;
    width: 80%;
    border-radius: 50%;
}
.mundo:hover div{
    transform: scale(1.1);
    transition: .2s ease-out;
}
.perruno{
    background: url('../img/mundo-perruno.jpg');
    background-position: 80px 120px;
    background-size: cover;
    margin-left: -100px;
}
.gatuno{
    background: url('../img/mundo-gatuno.jpg');
    background-size: cover;
    margin-right: -100px;
}
.title{
    color: white;
    width: 40%;
    text-align: center;
}

/* page login */
#body-login{
    background: url('../img/bg-login.jpg') center/cover no-repeat;
}

.form-login{
    background: url('../img/bg-form.png') center/contain no-repeat rgba(17, 17, 17, 0.8);
    backdrop-filter: blur(5px);
    height: 80vh;
    padding: 20px 50px;
    border-radius: 5px;
}

/* Sidebar */

.container-sidebar ul{
    list-style: none;
}

.container-sidebar {
    background-color: #202123;
    width: 225px;
    height: 100vh;
    position: fixed;
    color: var(--white);
    font-family: 'Dosis', sans-serif;
}

.container-sidebar a{
    text-decoration: none;
}

.container-sidebar .title-one {
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 5px;
}

.container-sidebar .img-sidebar {
    margin-bottom: 30px;
    text-align: center;
}

.container-sidebar .img-profile img {
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.266);
}

.container-sidebar .img-profile p{
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

.container-sidebar .title-two{
    margin: 12% 5% 5% 10%;
    font-size: 19px;
}

.container-sidebar .sidebar{
    width: 100%;
    margin: auto;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    font-size: 19px;
}

.container-sidebar .sidebar-options{
    width: 95%;
    margin-right: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.container-sidebar .sidebar-options li{
    padding: 5px 5px 5px 15px;
    border-radius: 0 10px 10px 0;
}

.sidebar-options a,
.sidebar-options i{
    color:  white;
}

.container-sidebar .sidebar-options li:hover,
.container-sidebar .active{
    background-color: #86EB9A;
    border-left: 4px solid #4c9c5c;
    transition: all 200ms ease;
}

.container-sidebar .sidebar-options li:hover a,
.container-sidebar .sidebar-options li:hover i,
.container-sidebar .active a, .container-sidebar .active i{
    color:black;
}

.container-sidebar .sidebar-options i{
    width: 20px;
    margin-right: 10px;
}

.img-buttom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 160px;
    margin:10px auto;
    text-align: center;
    background: url('../img/cat-work.png') center/cover;
}

.img-buttom button{
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    font-size: 17px;
    background: #86EB9A;
}

@media (max-width:1023px) {
    aside{
        display: none;
    }
}

@media (min-width:1024px) {
    #body-dashboard{
        display: grid;
        grid-template-columns: 225px auto;
    }
    
}

/* dashboard */
.dash-add{
    background: url('../img/bg-dash.png');
    height: 100vh;
}